
<header>
  <h1> {{ title }} </h1>
</header>
<main>
  <nav>
    <a href="">Page one</a>
    <a href="">Page two</a>
  </nav>
  <section>
    <article>
      <header>
        <h2>
          Angular minimal App
        </h2>
      </header>
      <main>Fork this <a
           href="https://github.com/AcademiaBinaria/angular-basic">Repository</a>
           <router-outlet></router-outlet>
      </main>
      <footer>Use it as a tutorial for learning Angular basics</footer>
    </article>
  </section>
  <aside>
    <header>
      <h3>Featuring:</h3>
    </header>
    <ul>
      <li>Angular9</li>
      <li>TypeScript</li>
      <li>HTML5</li>
      <li>Flex-box</li>
      <li>TSlint</li>
      <li>Prettier</li>
    </ul>
  </aside>
</main>
<footer>
  <p>Made by <a href="https://twitter.com/albertobasalo">Alberto Basalo</a>
    @ <a href="https://angular.builders.com"> Angular.Builders</a></p>
  <hr>
</footer>

