body > ab-root {
  min-height: 100vh;
}

/*
🔥🔥🔥🔥
moved to : main.component.css 🚒🚒🚒
🔥🔥🔥🔥

body > ab-root > main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

body > ab-root > main > nav {
  order: -1;
  flex-direction: row;
}

body > ab-root > main > section {
  flex: 1 1 auto;
}

body > ab-root > main > aside {
  display: none;
}

@media (min-width: 768px) {
  body > ab-root > main {
    flex-direction: row;
  }

  body > ab-root > main > nav,
  body > ab-root > main > aside {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
  }
}
*/
