<main>
  <nav>
    <a href="https://academia-binaria.com/hola-angular-cli/">Tutorial (es)</a>
    <a href="https://academiabinaria.github.io/angular-basic/">Ejecutable</a>
  </nav>
  <section>
    <article>
      <header>
        <h2>
          Basic Angular Tutorial
        </h2>
      </header>
      <main>Fork this <a
           href="https://github.com/AcademiaBinaria/angular-basic">Repository</a>
           <router-outlet></router-outlet>
      </main>
      <footer>Use it as a demo sample for learning Angular basics</footer>
    </article>
  </section>
  <aside>
    <header>
      <h3>Featuring:</h3>
    </header>
    <ul>
      <li>Angular9</li>
      <li>TypeScript</li>
      <li>HTML5</li>
      <li>Flex-box</li>
      <li>TSlint</li>
      <li>Prettier</li>
    </ul>
  </aside>
</main>
